%h2 Tweet から携帯電話を調べる
%p 使い方: Twitter の発言のパーマリンク(https://twitter.com/yukari_tamura/status/320530779304230913 みたいなの)をフォームに入力し調べるをクリックすると Tweet するのに使われたクライアント名を調べて表示します。
%label
  Tweet の URL
  =text_field_tag :url, nil, size: 60
%button#get 調べる
%blockquote#area

%h3 声優の携帯電話の情報を登録
.register
  =t flash[:error] if flash[:error]
  =form_for Keitaidenwa.new do |f|
    %table
      =f.fields_for Seiyu.new do |s|
        %tr
          %th=s.label :name, '声優の名前(必須)'
          %td=s.text_field :name
        %tr
          %th=s.label :url, '声優のブログなどの URL'
          %td=s.text_field :url
      %tr
        %th=f.label :phone, '機種(必須)'
        %td=f.text_field :phone
      %tr
        %th=f.label :at, 'その機種だった日(必須,YYYY/MM/DD)'
        %td=f.text_field :at
      %tr
        %th=f.label :url, 'その携帯電話であることが分かる URL(必須)'
        %th=f.text_field :url
    %p=f.submit '登録'

